/*
-----------------------------------------
| Header: Logo | Dashboard Parchi | Icone |
-----------------------------------------
| Sidebar | Toolbar filtri |
|       | Mappa | Lista parchi|
|       |       | (schede) |
-----------------------------------------
| Grafici/Statistiche (opzionali) |
-----------------------------------------
| Footer                        |
-----------------------------------------
*/